<div class="home-header">
    {{#if search}}
    <h1>Are you looking for: <span>{{search}}</span></h1>
        {{#if thoughtsQty }}
            <p>Was found <span>{{thoughtsQty}}</span> thought(s)</p>
        {{else}}
            <p>No thought was found for this term <span>{{search}}</span></p>
        {{/if}}
    {{else}}
    <h1>Take a look at some of our <span>Thoughts</span>:</h1>
    {{/if}}
    <form action="/" method="GET">
        <input type="text" name="search" placeholder="Está buscando por algo?">
        <input type="submit" class="btn" value="Buscar">
    </form>
    <div class="order-container">
        <span>Order by:</span>  
        <form action="/" method="GET">
            <input type="hidden" name="search" value="{{this.search}}">
            <input type="hidden" name="order" value="new">
            <button type="submit"><i class="bi bi-arrow-up"></i> Newest</button>
        </form>
        <form action="/" method="GET">
            <input type="hidden" name="search" value="{{this.search}}">
            <input type="hidden" name="order" value="old">
            <button type="submit"><i class="bi bi-arrow-down"></i> Oldest</button>
        </form>
        <a href="/">Clean</a>
    </div>
</div>
<div class="thoughts-container">
    {{#each thoughts}}
        <figure>
            <blockquote>
                "{{this.title}}"
            </blockquote>
            <figcaption>Made by <span>{{this.User.name}}</span></figcaption>
        </figure>
    {{/each}}
</div>
   